<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.pookjw.ExtensionHost.Extension</string>
		<key>EXExtensionPrincipalClass</key>
		<string>Extension</string>
		<key>EXSceneManifest</key>
		<dict>
			<key>scene</key>
			<dict>
				<key>EXStoryboardName</key>
				<string>Hosting</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
